

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>File</servlet-name>
    <servlet-class>fr.warlog.web.FileServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Folder</servlet-name>
    <servlet-class>fr.warlog.web.FolderServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>File</servlet-name>
      <url-pattern>/file/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Folder</servlet-name>
    <url-pattern>/folder/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Push</servlet-name>
    <servlet-class>fr.warlog.web.PushServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Push</servlet-name>
      <url-pattern>/push/*</url-pattern>
  </servlet-mapping>
</web-app>
